<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<description>Marcopolo</description>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/marcopoloaws</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<servlet>
		<servlet-name>add</servlet-name>
		<servlet-class>com.marcopolo.service.add</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>setMaxOverDueInterval</servlet-name>
		<servlet-class>com.marcopolo.service.setMaxOverDueInterval</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>submitOverDue</servlet-name>
		<servlet-class>com.marcopolo.service.submitOverDue</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>lock</servlet-name>
		<servlet-class>com.marcopolo.service.lock</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>product</servlet-name>
		<servlet-class>com.marcopolo.service.product</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>purchase</servlet-name>
		<servlet-class>com.marcopolo.service.purchase</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>taskByGuid</servlet-name>
		<servlet-class>com.marcopolo.service.taskByGuid</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>testsmsapi</servlet-name>
		<servlet-class>com.marcopolo.service.testsmsapi</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>rate</servlet-name>
		<servlet-class>com.marcopolo.service.rate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>com.marcopolo.service.register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>open</servlet-name>
		<servlet-class>com.marcopolo.service.open</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>submit</servlet-name>
		<servlet-class>com.marcopolo.service.submit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>task</servlet-name>
		<servlet-class>com.marcopolo.service.task</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>add</servlet-name>
		<url-pattern>/task/new</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>testsmsapi</servlet-name>
		<url-pattern>/task/testsmsapi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>setMaxOverDueInterval</servlet-name>
		<url-pattern>/task/setMaxOverDueInterval</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>product</servlet-name>
		<url-pattern>/product/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>purchase</servlet-name>
		<url-pattern>/product/purchase</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>submitOverDue</servlet-name>
		<url-pattern>/task/submitOverDue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lock</servlet-name>
		<url-pattern>/task/lock</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>taskByGuid</servlet-name>
		<url-pattern>/task/taskByGuid</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/task/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rate</servlet-name>
		<url-pattern>/task/rate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>open</servlet-name>
		<url-pattern>/task/open</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>submit</servlet-name>
		<url-pattern>/task/submit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>task</servlet-name>
		<url-pattern>/task/mine</url-pattern>
	</servlet-mapping>

</web-app>